#root {
  width: 100vw;
  height: 100%;
  text-align: center;
  background-color: #222831;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #778da9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ant-modal .ant-input {
  background-color: #393E46 !important;
  color: #ffffff !important;
  border: 1px solid #222831 !important;
}

.ant-modal .ant-input::placeholder {
  color: #bdbdbd !important;
  opacity: 1 !important;
}

.ant-modal .ant-form-item-label > label {
  color: #ffffff !important;
}

.ant-modal .ant-form-item-explain-error {
  color: #ff4d4f !important;
}
.ant-modal .ant-form-item-explain {
  color: #aaaaaa !important;
}

.ant-modal-content {
  background-color: #222831 !important;
  color: #ffffff !important;
}

.ant-modal-title {
  background-color: #222831 !important;
  color: #ffffff !important;
}

.ant-modal-footer {
   background-color: #222831 !important;
}